.hero{
    margin: 0 5.688rem;
    min-height: 100vh;
}

@media (max-width: 1023px){
    .hero{
        background-image: url(../../images/bg-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
    }
    .contain{
        display: none;
    }
    .home-fondo{
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5rem;
    }

    .home-fondo .home-fondo-text{
        gap: 25px;
        margin: 0;
        align-items: center;
    }

    .home-fondo .home-fondo-text h1{
        width: 388px;
        height: 76px;
        font-size: 40px;
        text-align: center;
    }

    .home-fondo .home-fondo-text h6{
        width: 388px;
        height: 76px;
        font-size: 20px;
        text-align: center;
    }

    .home-fondo .home-fondo-text p{
        display: none;
    }
    
    .home-fondo .home-fondo-text .explore-btn{
        width: 363px;
        height: 59px;
        border-radius: 50000px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(255, 255, 255, 0.1);
        padding: 20px 55px;
    }
}

@media (max-width: 432px){
    .home-fondo .home-fondo-text h1{
        width: auto;
        font-size: 32px;
    }

    .home-fondo .home-fondo-text h6{
        width: auto;
    }
}

@media (max-width: 390px){
    .home-fondo .home-fondo-text .explore-btn{
        width: 100%;
    }
}